<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to Tweeter</h1>

  <h2>
    Tweeter Home Page
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>